target/
**/target
**/cargo-target
.git/
*.db
.DS_Store
.idea
.vscode
.venv
**/venv
**/.direnv
node_modules/
/script/node_modules
DerivedData/
xcuserdata/
*.xcodeproj
*.wasm
.build
.blob_store
.flatpak-builder
.perf-runs
/snap
/result
